<template>
<div id="left-sidebar" class="sidebar">
        <div class="sidebar-scroll">
            <div class="user-account">
                <img src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture">
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>Jessica Doe</strong></a>                    
                    <ul class="dropdown-menu dropdown-menu-right account animated flipInY">
                        <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="page-login.html"><i class="icon-power"></i>Logout</a></li>
                    </ul>
                </div>
                <hr>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#hr_menu">Menu</a></li>
            </ul>
                
            <!-- Tab panes -->
            <div class="tab-content p-l-0 p-r-0">
                <div class="tab-pane animated fadeIn active" id="hr_menu">
                    <nav class="sidebar-nav">
                        <ul class="main-menu metismenu">
                            <li><a href="index.html"><i class="icon-speedometer"></i><span>Home</span></a></li>
                            <li><a href="index.html"><i class="icon-users"></i><span>Employees</span></a></li>
                            <li>
                                <a href="#Report" class="has-arrow"><i class="icon-bar-chart"></i><span>Reports</span></a>
                                <ul>
                                    <li><a href="emp-all.html">Attendance</a></li>
                                    <li><a href="emp-all.html">Meetings</a></li>
                                </ul>
                            </li>
                             <li><a href="index.html"><i class="icon-list"></i><span>Roles</span></a></li>
                             <li><a href="index.html"><i class="icon-settings"></i><span>Settings</span></a></li>
                             <li><a href="index.html"><i class="icon-login"></i><span>Logout</span></a></li>
                        </ul>
                    </nav>
                </div>        
            </div>          
        </div>
    </div>
</template>

<script>
export default {
  name: 'SideBar'
}
</script>

