<template>
  <div id="app">
   <BaseLayout></BaseLayout>
  </div>
</template>

<script>
import BaseLayout from './partials/BaseLayout.vue'
export default {
  name: 'app',
  components: {
    BaseLayout
  }
}
</script>

<style>

</style>
